<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitraranga</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/figma.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav>
            <a href="/" class="logo">
                <img src="{{ url_for('static', filename='css/chitraranga-logo.png') }}" alt="Chitraranga Logo">
            </a>

            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>

            <div class="auth-buttons">
                <a href="#" class="btn login-btn">Login</a>
                <a href="#" class="btn signup-btn">Sign up</a>
            </div>
        </nav>

    </header>

    {% block body %}

    {% endblock body %}

</body>
</html>