{% extends 'Base.html' %}

{% block body %}

<div class="about-wrapper">

    <div class="about-text">
        <h1 class="about-title">Contact <span class="highlight">Chitraranga</span></h1>

        <p class="about-subtext">
            <span class="highlight">Email</span>&nbsp;&nbsp;&nbsp;&nbsp;tvikashraj4545@gmail.com
        </p>
        <p>
            <span class="highlight">github</span>&nbsp;&nbsp;&nbsp;&nbsp;<a class="github" href="https://github.com/vikashrajtandle">github.com/vikashrajtandle</a>
        </p>
    </div>

</div>

{% endblock body %}
